.CardList {
  /* Your styles here */

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
  position: relative;
}

.card {
  background: #fafafa;
  padding: 1rem;
  display: flex;
  width: 45%;
  max-width: 400px;
  flex-direction: column;
  gap: 0.5rem;
  border: 1px solid none;
  position: relative;
  transition: 0.5s ease-in-out;
  border-radius: 0.25rem;

  @media(max-width: 768px) {
    width: 100%;
  }
}

.card:hover {
  transform: scale(1.1);
  border: 1px solid #454545;
  z-index: 2;
}